<div class="container">
	<div class="row">
		<div class="col-12 mt-4 text-center">
			<h3>주문서</h3>
		</div>
		<div class="col-12">
			<div class="mt-4">
				<h5>주문상품</h5>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" style="width: 10%;"></th>
							<th scope="col" style="width: 60%;"></th>
							<th scope="col" style="width: 15%;"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<% @order.order_items.each do |item| %>
						<tr>
							<th scope="row">
								<% if item.pack.image.attached? %>
								<img src="<%= url_for(item.pack.image) %>" class="img-fluid" />
								<% end %>
							</th>
							<td><%= item.pack.product_name %></td>
							<td><%= item.quantity %>개</td>
							<td><%= object_to_currency(item) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="mt-4">
				<h5>주문자 정보</h5>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" style="width: 30%;"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">
								보내는 분
							</th>
							<td>김성인</td>
						</tr>
						<tr>
							<th scope="row">
								휴대폰
							</th>
							<td>01012345678</td>
						</tr>
						<tr>
							<th scope="row">
								이메일
							</th>
							<td>ksi2564@naver.com</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12">
			<h5>
				배송 정보
			</h5>
			<form action="/orders/<%= @order.id %>/payments" method="POST" id="payment_form">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<input type="hidden" name="imp_uid" id="imp_uid" />
				<input type="hidden" name="merchant_uid" id="merchant_uid" />
				<input type="hidden" name="paid_amount" id="paid_amount" />
				<input type="hidden" name="error_msg" id="error_msg" />

				<div class="mb-3">
					<label for="" class="form-label">받으실 분</label>
					<input
						type="text"
						class="form-control"
						id="name"
						placeholder="이름을 입력해주세요"
					/>
				</div>
				<div class="mb-3">
					<label for="" class="form-label">휴대폰</label>
					<input
						type="text"
						class="form-control"
						id="phone"
						placeholder="숫자만 입력해주세요"
					/>
				</div>

				<div class="mb-3">
					<label for="" class="d-block">배송지</label>
					<a href="#" class="btn btn-outline-dark" id="search_address_btn">주소검색</a>
					<input
						type="text"
						class="form-control mt-2"
						id="address_1"
						placeholder="도로명주소"
					/>
					<input
						type="text"
						class="form-control mt-2"
						id="address_2"
						placeholder="나머지 주소를 입력해주세요"
					/>
				</div>
				<div class="mb-3">
					<label for="" class="form-label">배송기사 요청사항</label>
					<input
						type="text"
						class="form-control"
						id="request"
						placeholder="예: 벨 누르지 말고 전화주세요."
					/>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-12 mt-3">
			<h5>결제 금액</h5>
			<div class="card">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<p class="card-text">주문금액</p>
						<p class="card-text"><%= number_to_currency(@order.product_price) %></p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="card-text">주문할인금액</p>
						<p class="card-text">0원</p>
					</div>
					<div class="d-flex justify-content-between">
						<p class="card-text">배송비</p>
						<p class="card-text"><%= number_to_currency(@order.shipping_fee) %></p>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-between">
						<p class="card-text">최종결제금액</p>
						<p class="card-text"><%= number_to_currency(@order.total_price) %></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="d-grid col-3 mx-auto my-4">
			<a href="#" class="btn btn-primary" id="payment_btn">
				<%= number_to_currency(@order.total_price) %> 결제하기
			</a>
		</div>
	</div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	$(function () {
		var IMP = window.IMP; // 생략 가능
		IMP.init('imp29308286'); // 예: imp00000000

		function requestPay() {
			IMP.request_pay(
				{
					// param
					pg: 'html5_inicis',
					pay_method: 'card',
					merchant_uid: 'merchant_' + new Date().getTime(),
					name: '마켓컬리',
					amount: <%= Rails.env.development? ? 100 : @order.total_price %>,
					buyer_email: $("#email").val(),
					buyer_name: $("#name").val(),
					buyer_tel: $("#phone").val(),
					buyer_addr: $("#address_1").val() + $("#address_2").val(),
					buyer_postcode: $("#post_code").val(),
				},
				function (rsp) {
					if (rsp.success) {
						$("#imp_uid").val(rsp.imp_uid)
						$("#merchant_uid").val(rsp.merchant_uid)
						$("#payment_form").submit();
					} else {
						// var msg = '결제에 실패하였습니다.';
						// msg += '에러내용 : ' + rsp.error_msg;
						$("#error_msg").val(rsp.error_msg)
					}
				}
			);
		}

	   function check_form(){
	     is_name = $("#name").val() == ""
	     is_phone = $("#phone").val() == ""
	     is_address_1 = $("#address_1").val() == ""
	     is_address_2 = $("#address_2").val() == ""

	     msg = ""
	     if(is_name){
	       msg += "받으실 분을 입력하세요.\n"
	     }

	     if(is_phone){
	       msg += "휴대폰 번호를 입력하세요.\n"
	     }

	     if(is_address_1 || is_address_2){
	       msg += "배송지를 입력하세요.\n"
	     }

	     return {
	       status: msg == "",
	       msg: msg
	     }
	   }

		$("#payment_btn").on('click', function(e){
			e.preventDefault();
			checked_data = check_form();
			if (checked_data.status){
				requestPay();
			}
			else {
				alert(checked_data.msg);
			}
		})

		$('#search_address_btn').on('click', function (e) {
			e.preventDefault();
			postCodePopup();
		})

		function postCodePopup() {
			new daum.Postcode({
				oncomplete: function (data) {
					$('#address_1').val(data.roadAddress);
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
					// 예제를 참고하여 다양한 활용법을 확인해 보세요.
				}
			}).open();
		}
	})
</script>