<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="mt-4">
				<h2>장바구니</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col" style="width: 30%;"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col" style="width: 20px;"></th>
						</tr>
					</thead>
					<tbody>
						<% @carts.each do |cart| %>
						<tr>
							<th scope="row">
								<% if cart.pack.image.attached? %>
								<img src="<%= url_for(cart.pack.image) %>" class="img-fluid" />
								<% end %>
							</th>
							<td><%= cart.pack.product_name %></td>
							<td><%= cart.quantity %>개</td>
							<td><%= number_to_currency(cart.pack.price * cart.quantity) %></td>
							<td>
								<a
									href="/carts/<%= cart.id %>"
									class="ml-3"
									data-method="delete"
									data-confirm="삭제하시겠습니까?"
									><i class="fas fa-times"></i
								></a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>