<div class="container">
	<div class="row">
		<div class="col-6" style="width: 70%;">
			<div class="mt-4">
				<h5>장바구니</h5>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" style="width: 10%;"></th>
							<th scope="col" style="width: 30%;"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col" style="width: 20px;"></th>
						</tr>
					</thead>
					<tbody>
						<% @carts.each do |cart| %>
						<tr>
							<th scope="row">
								<% if cart.pack.image.attached? %>
								<img src="<%= url_for(cart.pack.image) %>" class="img-fluid" />
								<% end %>
							</th>
							<td><%= cart.pack.product_name %></td>
							<td><%= cart.quantity %>개</td>
							<td><%= number_to_currency(cart.pack.price * cart.quantity) %></td>
							<td>
								<a
									href="/carts/<%= cart.id %>"
									class="ml-3"
									data-method="delete"
									data-confirm="삭제하시겠습니까?"
									><i class="fas fa-times"></i
								></a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card border-light mt-5" style="max-width: 18rem;">
			<div class="card-body">
				<h6 class="card-title"><i class="fas fa-map-marker-alt"></i> 배송지</h6>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the
					card's content.
				</p>
				<div class="d-grid gap-2 col-12 mx-auto">
					<a href="#" class="btn btn-primary btn-sm">배송지 변경</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<p class="card-text">상품금액</p>
								<p class="card-text"><%= number_to_currency(@products_price) %></p>
							</div>
							<div class="d-flex justify-content-between">
								<p class="card-text">상품할인금액</p>
								<p class="card-text">0원</p>
							</div>
							<div class="d-flex justify-content-between">
								<p class="card-text">배송비</p>
								<p class="card-text"><%= number_to_currency(@shipping_fee) %></p>
							</div>
						</div>
						<div class="card-footer">
							<div class="d-flex justify-content-between">
								<p class="card-text">결제예정금액</p>
								<p class="card-text"><%= number_to_currency(@total_price) %></p>
							</div>
						</div>
					</div>
				</div>
				<div class="d-grid gap-2 col-12 mx-auto">
					<a href="#" class="btn btn-primary btn-lg">주문하기</a>
				</div>
			</div>
			<hr />
		</div>
	</div>
</div>