<!DOCTYPE html>
<html>
	<head>
		<title>GoormRailsApp</title>
		<%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media:
		'all', 'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
		'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render "shared/header" %> <%= yield %> <%= any_login_here if defined?(AnyLogin) %>
		<script
			type="text/javascript"
			src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
		></script>
	</body>
</html>